services:
  k8swalski:
    build:
      context: .
      target: runtime
    container_name: k8swalski
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      HTTP_PORT: 8080
      HTTPS_PORT: 8443
      LOG_FORMAT: json
      INCLUDE_ENV_VARS: false
      PROMETHEUS: true
    restart: unless-stopped
