services:
  k8swalski:
    build:
      context: .
      dockerfile: Dockerfile
      cache_from:
        - k8swalski:latest
    image: k8swalski:latest
    container_name: k8swalski-test
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      - HTTP_PORT=8080
      - HTTPS_PORT=8443
      - LOG_FORMAT=json
      - INCLUDE_ENV_VARS=false
      - PROMETHEUS=true
    restart: unless-stopped
