services:
  k8swalski:
    image: ghcr.io/audacioustux/k8swalski:latest
    container_name: k8swalski
    ports:
      - "8080:8080"
      - "8443:8443"
    environment:
      HTTP_PORT: 8080
      HTTPS_PORT: 8443
      LOG_FORMAT: json
      INCLUDE_ENV_VARS: false
      PROMETHEUS: true
    healthcheck:
      test: ["/app/k8swalski", "--check-health"]
      interval: 30s
      timeout: 3s
      start_period: 5s
      retries: 3
    restart: unless-stopped
