apiVersion: v1
kind: Service
metadata:
  name: k8swalski
  labels:
    app: k8swalski
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: http
    protocol: TCP
  - name: https
    port: 443
    targetPort: https
    protocol: TCP
  selector:
    app: k8swalski
